<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.mini.prj.mapper.PointMapper">
	<select id="pointSelectList"
		resultType="co.mini.prj.service.PointVO">
		SELECT *
		FROM POINT
		WHERE MEMBER_NUM = #{memberNum}
		ORDER BY
		PAY_NUM DESC
	</select>

	<select id="pointSum" resultType="co.mini.prj.service.PointVO">
		SELECT SUM(POINT_USE) as
		pointSum FROM POINT WHERE MEMBER_NUM = #{memberNum}
	</select>

	<insert id="pointInsert"
		parameterType="co.mini.prj.service.PointVO">
		<selectKey keyProperty="payNum" resultType="int"
			order="BEFORE">
			SELECT CASE WHEN MAX(PAY_NUM) IS NULL THEN 1 ELSE MAX(PAY_NUM)
			+ 1 END AS
			PN FROM POINT
		</selectKey>

		insert into point values (#{memberNum}, #{payNum}, ((select case when sum(point_use) is
		null then 0 else sum(point_use) end from point where member_num = #{memberNum}) +
		(select (max(price) * 0.01) from pay where pay_num = #{payNum})), (select
		(max(price) * 0.01) from pay where pay_num=#{payNum}))
	</insert>

	<delete id="pointDelete">
		DELETE FROM POINT WHERE PAY_NUM = #{payNum}
	</delete>

	<update id="pointUpdate">
		UPDATE POINT
		<set>
			<if test="price != null">
				POINT_USE = (#{price} * 0.01)
			</if>
		</set>
		WHERE PAY_NUM = #{payNum}
	</update>

	<update id="pointSumUpdate">
		UPDATE POINT
		<set>
			POINT = (SELECT SUM(POINT_USE) FROM POINT WHERE MEMBER_NUM =
			#{memberNum})
		</set>
		WHERE PAY_NUM = #{payNum}
	</update>

</mapper>