/* 04.01 Button CSS */

.btn {
    font-size: 16px;
    font-weight: 700;
    line-height: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    height: 52px;
    padding: 0 40px;

    cursor: pointer;
    white-space: nowrap;

    border-width: 2px;
    border-style: solid;
    border-color: transparent;
    border-radius: 0px;
    outline: none;
    &.fz-10{
        font-size: 10px;
    }

    &:focus {
        box-shadow: none !important;
    }

    &-icon {
        width: 56px;
        padding: 15px;
    }

    &.disabled {
        opacity: 0.65;
    }
    // Responsive
    @media #{$tablet-device}{
        padding: 0 25px;
        height: 40px;
        line-height: 38px;
    }
    @media #{$large-mobile}{
        padding: 0 25px;
        height: 45px;
        line-height: 43px;
    }
}

/* Button Sizes */
.btn-sm {
    font-size: 12px;

    padding: 5px 20px;
}

.btn-xs{
    height: 32px;
    line-height: 30px;
    padding: 0 20px;
}

.btn-md {
    font-size: 14px;

    padding: 10px 30px;
}

.btn-lg {
    font-size: 18px;

    padding: 20px 50px;
}

.btn-xl {
    font-size: 20px;

    padding: 25px 60px;
}
.btn-height-80{
    // Responsive
    @media #{$extraBig-device}{
        height: 80px;
        line-height: 78px;
    }
}

.btn-width-100{
    width: 100%;
}
.btn-width-290-80{
    width: 290px;
    height: 80px;
    line-height: 78px;
    font-size: 24px;
    font-family: $proximaNovaAltLt800;
    text-transform: uppercase;
    // Responsive
    @media #{$laptop-device}{
        width: 250px;
    }
    @media #{$desktop-device}{
        width: 180px;
        height: 60px;
        line-height: 58px;
        font-size: 18px;
    }
    @media #{$tablet-device}{
        width: 180px;
        height: 60px;
        line-height: 58px;
        font-size: 18px;
        padding: 0 25px;
    }
    @media #{$large-mobile}{
        width: 160px;
        height: 50px;
        line-height: 48px;
        font-size: 16px;
        padding: 0 25px;
    }
    @media #{$extra-small-mobile}{
        width: 130px;
        height: 45px;
        line-height: 43px;
        font-size: 14px;
        padding: 0 20px;
    }
}
.btn-width-200-60{
    width: 200px;
    height: 60px;
    line-height: 58px;
}
.btn-width-300{
    width: 300px;
}
.btn-width-180{
    width: 180px;
}
.btn-height-60{
    height: 60px;
    line-height: 58px;
}

/* Button Color & Style (Solid & Outline) */
@each $name,
$value in $theme-colors {
    .btn-#{$name} {
        border-color: $value;
        background-color: $value;

        @if $name==warning or $name==light or $name==off-white {
            color: $heading-color;
        }

        @else {
            color: $white;
        }

        &:hover,
        &:focus {
            border-color: transparent;
            background-color: darken($value, 7.5%);

            @if $name==warning or $name==light {
                color: $heading-color;
            }

            @else {
                color: $white;
            }
        }
    }

    .btn-outline-#{$name} {
        color: $value;
        border-color: $value;
        background-color: transparent;

        &:hover {
            border-color: transparent;
            background-color: $value;

            @if $name==warning or $name==light {
                color: $heading-color;
            }

            @else {
                color: $white;
            }
        }
    }
}

/* Button Hover Color & Style (Solid & Outline) */
@each $name,
$value in $theme-colors {
    .btn-hover-#{$name} {
        &:hover,
        &:not(:disabled):not(.disabled).active {
            border-color: transparent;
            background-color: $value;

            @if $name==warning or $name==light {
                color: $heading-color;
            }

            @else {
                color: $white;
            }
        }
    }

    .btn-outline-hover-#{$name} {
        &:hover,
        &:not(:disabled):not(.disabled).active {
            color: $value;
            border-color: transparent;
            background-color: transparent;
        }
    }
}



.shop-load-more-btn{
    width: 120px;
    height: 120px;
    border: 1px solid #d4d4d4;
    font-size: 14px;
    color: #1c1c1c;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    // Responsive
    @media #{$tablet-device}{
        width: 90px;
        height: 90px;
    }
    @media #{$large-mobile}{
        width: 90px;
        height: 90px;
    }
    i{
        display: block;
    }
    &:hover{
        border-color: $primary;
    }
}

.learn-more-btn{
    border: 2px solid #eee;
}


.link {
    font-size: 24px;
    line-height: 1.3;
    color: $body-color;
    // Responsive
    @media #{$extra-small-mobile}{
        font-size: 20px;
    }
    & mark {
        line-height: 1;

        position: relative;

        padding: 3px 0;

        color: $body-color;
        background-color: transparent;

        &::before,
        &::after {
            position: absolute;
            bottom: 0;
            left: 0;

            width: 100%;
            height: 1px;

            content: "";
            transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1) 0.3s;
            transform: scaleX(1) translateZ(0);
            transform-origin: right;

            background: #E0E0E0;
        }

        &::after {
            transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
            transform: scaleX(0) translateZ(0);
            transform-origin: left;

            background-color: $primary;
        }
    }

    &:hover {
        color: $primary;

        & mark {
            color: $primary;
            &::before {
                transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
                transform: scaleX(0) translateZ(0);
            }

            &::after {
                transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1) 0.3s;
                transform: scaleX(1) translateZ(0);
            }
        }
    }
}