/* 03.07 Funfact CSS */
.funfact {
    & .number {
        font-size: 70px;
        font-weight: 700;
        line-height: 1;
        display: block;
        color: $heading-color;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color:$white;
        margin-bottom: 15px;

    }

    & .text {
        font-size: 26px;
        line-height: 1.3;
        font-family: $proximaNovaAltLt800;
        font-weight: 800;
        margin-bottom: 0;
        color: #FF6842;
    }
}